<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Mail.Properties.Settings.RegistroConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;Bases\Registro.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Mail.Properties.Settings>
            <setting name="Correos" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="Username2" serializeAs="String">
                <value>Tu correo</value>
            </setting>
            <setting name="PassWord2" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Tu correo</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>1234</value>
            </setting>
        </Mail.Properties.Settings>
    </userSettings>
</configuration>